<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static',filename='form.css')}}">

</head>


<body>
  <div class="feedback-form">
    <h2>Guest Feedback Form</h2>
    <form>
      <p for="name">Name:</p>
      <input type="text" id="name" name="name" required>

      <p for="email">Email:</p>
      <input type="email" id="email" name="email" required>
      
      <p for="email">Gender:</p>
      <input type="radio" id="male" name="gender" value="Male" >MALE<br>
      <input type="radio" id="female" name="gender" value="Female">FEMALE




      <p class="tag" >Your Opinion Matters</p>
      
     
        <label><p>
         @ Did you find the hotel's website and online booking process easy to use
        </p>
      </label>
      
      <div class="feedback">
        <label class="angry">
        <input type="radio" value="1" name="feedback1" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="happy">
          <input type="radio" value="5" name="feedback1" />
          <div>
          <svg class="eye left">
          <use xlink:href="#eye">
          </svg>
          <svg class="eye right">
          <use xlink:href="#eye">
          </svg>
          </div>
          </label>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
          <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
          </symbol>
          <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
          <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
          </symbol>
          </svg><br/>

    <label><p style="padding: 2% 0;">@ How smooth were the check in and checkout process</p></label>
      <div class="feedback">
        <label class="angry">
        <input type="radio" value="1" name="feedback2" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="sad">
        <input type="radio" value="2" name="feedback2" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="ok">
        <input type="radio" value="3" name="feedback2" />
        <div></div>
        </label>
        <label class="good">
        <input type="radio" value="4" name="feedback2" checked />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="happy">
        <input type="radio" value="5" name="feedback2" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        </div>
        </label>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
        <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
        <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
        </symbol>
        </svg><br/>
      <br/>

      <p>@ How polite and hospitable were the staff</p>
          
      <div class="feedback">
          <label class="angry">
          <input type="radio" value="1" name="feedback3" />
          <div>
          <svg class="eye left">
          <use xlink:href="#eye">
          </svg>
          <svg class="eye right">
          <use xlink:href="#eye">
          </svg>
          <svg class="mouth">
          <use xlink:href="#mouth">
          </svg>
          </div>
          </label>
          <label class="sad">
          <input type="radio" value="2" name="feedback3" />
          <div>
          <svg class="eye left">
          <use xlink:href="#eye">
          </svg>
          <svg class="eye right">
          <use xlink:href="#eye">
          </svg>
          <svg class="mouth">
          <use xlink:href="#mouth">
          </svg>
          </div>
          </label>
          <label class="ok">
          <input type="radio" value="3" name="feedback3" />
          <div></div>
          </label>
          <label class="good">
          <input type="radio" value="4" name="feedback3" checked />
          <div>
          <svg class="eye left">
          <use xlink:href="#eye">
          </svg>
          <svg class="eye right">
          <use xlink:href="#eye">
          </svg>
          <svg class="mouth">
          <use xlink:href="#mouth">
          </svg>
          </div>
          </label>
          <label class="happy">
          <input type="radio" value="5" name="feedback3" />
          <div>
          <svg class="eye left">
          <use xlink:href="#eye">
          </svg>
          <svg class="eye right">
          <use xlink:href="#eye">
          </svg>
          </div>
          </label>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
          <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
          </symbol>
          <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
          <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
          </symbol>
          </svg><br/>

      <label><p>@ Were the hotel rooms comfortable well equipped and properly mentioned</p></label>
      <div class="feedback">
        <label class="angry">
        <input type="radio" value="1" name="feedback4" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="sad">
        <input type="radio" value="2" name="feedback4" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="ok">
        <input type="radio" value="3" name="feedback4" />
        <div></div>
        </label>
        <label class="good">
        <input type="radio" value="4" name="feedback4" checked />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="happy">
        <input type="radio" value="5" name="feedback4" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        </div>
        </label>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
        <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
        <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
        </symbol>
        </svg><br/><br/>

    <label><p>@ How would you rate the quality and variety of the food options available at our hotel</p></label>
    <div class="feedback">
      <label class="angry">
      <input type="radio" value="1" name="feedback5" />
      <div>
      <svg class="eye left">
      <use xlink:href="#eye">
      </svg>
      <svg class="eye right">
      <use xlink:href="#eye">
      </svg>
      <svg class="mouth">
      <use xlink:href="#mouth">
      </svg>
      </div>
      </label>
      <label class="sad">
      <input type="radio" value="2" name="feedback5" />
      <div>
      <svg class="eye left">
      <use xlink:href="#eye">
      </svg>
      <svg class="eye right">
      <use xlink:href="#eye">
      </svg>
      <svg class="mouth">
      <use xlink:href="#mouth">
      </svg>
      </div>
      </label>
      <label class="ok">
      <input type="radio" value="3" name="feedback5" />
      <div></div>
      </label>
      <label class="good">
      <input type="radio" value="4" name="feedback5" checked />
      <div>
      <svg class="eye left">
      <use xlink:href="#eye">
      </svg>
      <svg class="eye right">
      <use xlink:href="#eye">
      </svg>
      <svg class="mouth">
      <use xlink:href="#mouth">
      </svg>
      </div>
      </label>
      <label class="happy">
      <input type="radio" value="5" name="feedback5" />
      <div>
      <svg class="eye left">
      <use xlink:href="#eye">
      </svg>
      <svg class="eye right">
      <use xlink:href="#eye">
      </svg>
      </div>
      </label>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
      <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
      <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
      </symbol>
      </svg><br/><br/>
     
      <label><p>@ What about the ambiance</p></label>
      <div class="feedback">
        <label class="angry">
        <input type="radio" value="1" name="feedback6" />
        <div>
        <svg class="eye left">
        <use xlink:href="#eye">
        </svg>
        <svg class="eye right">
        <use xlink:href="#eye">
        </svg>
        <svg class="mouth">
        <use xlink:href="#mouth">
        </svg>
        </div>
        </label>
        <label class="happy">
          <input type="radio" value="5" name="feedback6" />
          <div>
          <svg class="eye left">
          <use xlink:href="#eye">
          </svg>
          <svg class="eye right">
          <use xlink:href="#eye">
          </svg>
          </div>
          </label>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
          <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
          </symbol>
          <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
          <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
          </symbol>
          </svg><br/>

      <label><p>@ How keen are you to visit again  (1-10)</p></label>
      <input type="range" id="vol" name="scale" min="1" max="10" required><br>
      

      <label><p for="comment">@ How can we improve it</p></label>
      <textarea id="comment" name="comment" rows="6" required></textarea>
      <br>

     
    
      <div style="text-align: center; padding: 2%;">
        <input type="submit" value="Submit" onclick="alert('Thankyou for your feedback')">
      </div>

      <div>
        <p>We really appreciate your Feedback and Time ,<bold> <i>Thankyou</i> </bold> for staying with Us</p>
      </div>
      
    </form>
  </div>
</body>
</html>